
main {
  width: 100%;
}
.event-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;
  background:  rgba(70, 87, 94, 0.8);
  margin-left: 400px;
  margin-right: 400px;
  border: 5px solid;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}


.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  margin: 20px;
  border: 5px solid;
  background:  rgba(70, 87, 94, 0.8);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 40px;
}

input {
  padding: 10px;
  margin: 15px;
}

#deleteBtn {
  width: 120px;
  height: 50px;
  margin-left: 10px;
}


#deleteBtn:hover {
   width: 120px;
  height: 50px;
  margin-left: 10px;
}



#updateBtn {
  width: 120px;
  height: 50px;
  margin-left: 10px;
}


#updateBtn:hover {
   width: 120px;
  height: 50px;
  margin-left: 10px;
}
