main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.current-members {
  border-top: solid;
  padding-top: 35px;
}

.user-names {
  font-size: 18px;
  padding-top: 5px;
}

.profiles-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 140px;
}

.profile-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 15px double;
  width: 20vw;
  height: 30vh;
  margin: 10px;
  padding: 10px;
  background:  rgba(70, 87, 94, 0.8);
}

.profiles-avatar {
  border: 12px solid gray;
  outline: solid black;
  border-radius: 80px;
  padding: 5px;
  margin: 12px;
  width: 100px;
}