.nav-route {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 30px;
  font-family: monospace;
  text-decoration: none;
  list-style: none;
}

.welcome-message {
  color: white;
  display: flex;
  justify-content: flex-start;

}

.navbar {
    background: rgb(37,155,191);
    background: radial-gradient(circle, rgba(37,155,191,1) 5%, rgba(182,42,136,1) 82%, rgba(86,68,110,1) 100%);
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 100px;
    width:100%;
    position: relative; /* <-- Added */
    z-index: 1; /* <-- Added */
    padding-bottom: 10px;
    
}

.navbar a {
  font-family: monospace;
  font-size: 30x;
  color: white;
  text-align: center;
  padding: 14px 16px 10px 14px;
  text-decoration: none;
}

.dropdown {
  font-size: 30px;
  position: absolute;
  padding-bottom: 90px;
  text-align: center;
}

.dropdown .dropbtn {
  font-size: 30px;  
  border: none;
  outline: none;
  color: white;
  text-align: center;
  background-color: inherit;
  font-family: inherit;
  display: block;
  margin-left: auto;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: black;
  background-color: rgb(242, 208, 98);
  border-radius: 20px;
  
}

.dropdown-content {
  opacity: .9;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(242, 208, 98);
}

.dropdown-content a {
  position: relative;
  float: none;
  color: rgb(8, 2, 21);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  z-index: auto;
  background-color: rgb(242, 208, 98);
}

.dropdown:hover .dropdown-content {
  display: block;
}


ul.login-box {
    padding: 0;
    margin: 0;
    font-weight: bold;
    background-color: gray;
    left: 40%;
    line-height: 100px;
    position: absolute;
    top: 30%;
    width: 25%;
    border: 10px double rgb(177, 164, 164);
    outline: 5px dashed gray;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: white;
}

a:hover {
  color: black;
  background-color: rgb(242, 208, 98);
  padding: 15px;
  border-radius: 20px;
}
