ul {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: monospace;
  background-image: url('https://i.ibb.co/fp9fhBX/785507.png');
  
}

.navbar {
  overflow: hidden;
  background-color: #333;
  background-color: rgb(20, 18, 67);
  border-bottom: dotted rgb(125, 122, 142);

}

.navbar a {
  font-family: monospace;
  font-weight: bold;
  float: left;
  border-radius: 30px;
  font-size: 26px;
  color: white;
  text-align: center;
  padding: 2px 16px;
  
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 5px 18px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(216, 186, 12);
  color: black;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(108, 178, 199, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(85, 0, 255);
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}