body {
  font-family: monospace;
  background-image: url('https://media4.giphy.com/media/wOs4QlRl3zMnVmXgnx/giphy.gif?cid=790b76111d8b042b9e56d5cc12df7d051926abdb06241b76&rid=giphy.gif&ct=g');
  background-size: cover;
  text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
